
<div class="container" style="display: flex; align-content: space-between;">
<ul style="font-family: Double Feature; font-size: 20px; display: flex; flex-direction: row; width: 1000px; justify-content: space-around;">
    <li style="list-style-type: none;"><a style="background-color: rgb(196, 248, 148); padding: 2px 2px 0px 2px; border: solid 2px hsl(84, 100%, 59%); border-radius: 3px; color: rgb(43, 182, 1); text-decoration: none;" href="/gpk">HOME</a></li>
    <li style="list-style-type: none;"><a style=" color: hotpink; text-decoration: none;" href="/gpk/top15">TOP 15</a></li>
    <li style="list-style-type: none;"><a style=" color: hotpink; text-decoration: none;" href="/gpk/35thanniversary">35th ANNIVERSARY</a></li>
    <li style="list-style-type: none;"><a style=" color: hotpink; text-decoration: none;" href="/gpk/foodfight">FOOD FIGHT</a></li>
    <li style="list-style-type: none;"><a style=" color: hotpink; text-decoration: none;" href="/gpk/gallery">FAN ART GALLERY</a></li>
</ul>
</div>