
<div class="nav-bar">
<ul class="nav-bar">
    <li><a href="/gpk">HOME</a></li>
    <li><a href="/top15">TOP 15</a></li>
    <li><a href="/gpk/35thanniversary">35 ANNIVERSARY</a></li>
    <li><a href="/gpk/foodfight">FOOD FIGHT</a></li>
    <li><a href="/gpk/gallery">FAN ART</a></li>
</ul>
</div>