
<div class="navbar" style="display: flex; justify-content: center;">
<ul style="font-family: Double Feature; font-size: 20px; display: flex; flex-direction: row; margin-top: 10px; padding: 0px;align-content: center; justify-content: space-around; width: 800px">
    <li style="list-style-type: none; display: flex;"><a style="background-color: rgb(196, 248, 148); padding: 2px 2px 0px 2px; border: solid 2px hsl(84, 100%, 59%); border-radius: 3px; color: rgb(43, 182, 1); text-decoration: none;"  href="/gpk">HOME</a></li>
    <li style="list-style-type: none; display: flex;"><a style="background-color: rgb(196, 248, 148); padding: 2px 2px 0px 2px; border: solid 2px hsl(84, 100%, 59%); border-radius: 3px; color: rgb(43, 182, 1); text-decoration: none;"  href="/gpk/top15">TOP 15</a></li>
    <li style="list-style-type: none; display: flex;"><a style="background-color: rgb(196, 248, 148); padding: 2px 2px 0px 2px; border: solid 2px hsl(84, 100%, 59%); border-radius: 3px; color: rgb(43, 182, 1); text-decoration: none; width: 168px"  href="/gpk/35thanniversary">35 ANNIVERSARY</a></li>
    <li style="list-style-type: none; display: flex;"><a style="background-color: rgb(196, 248, 148); padding: 2px 2px 0px 2px; border: solid 2px hsl(84, 100%, 59%); border-radius: 3px; color: rgb(43, 182, 1); text-decoration: none;"  href="/gpk/foodfight">FOOD FIGHT</a></li>
    <li style="list-style-type: none; display: flex;"><a style="background-color: rgb(196, 248, 148); padding: 2px 2px 0px 2px; border: solid 2px hsl(84, 100%, 59%); border-radius: 3px; color: rgb(43, 182, 1); text-decoration: none;"  href="/gpk/gallery">FAN ART</a></li>
</ul>
</div>