<body>
<div class="form">
    <span>GARBAGE PAIL KIDS</span>
    <div class="form-content">
        <form action="/gpkcards/gallery/add" method="POST">
            <label>Artist:  <input type="text" name="artist"></label><br>
            <label>Card Name:  <input type="text" name="cardName"></label><br>
            <label>Price:  </label><input type="number" name="price"><br>
            <label>Image:  </label><input type="url" name="img"><br>
            <label>Website:  </label><input type="url" name="website"><br>
            <div class="enter-container">
                <button class="enter" type="submit">ENTER</button>
            </div>
    </div>
</div>
</body>
