<body>
<div class="form">
    <span>GARBAGE PAIL KIDS</span>
    <div class="form-content">
        <% let url = cards[0].series.toLowerCase().split(' ').join('') %>
        <form action="/gpkcards/<%= url %>/add" method="POST">
            <label>Name:  <input type="text" name="name"></label>
            <label>Series:  <input type="text" name="series" value="<%= cards[0].series %>"></label>
            <label>Number:  <input type="number" name="number"></label>
            <label>A or B:  <input type="text" name="aOrb"></label>
            <label>Year Released:  <input type="text" name="yearReleased" value="<%= url.includes('anni') ? value='2020' : value='2021' %>"></label>
            <label>Value:  <input type="number" name="value"></label>
            <label>Image:  <input type="url" name="img"></label>
            <div class="enter-container">
                <button class="enter" type="submit">ENTER</button>
            </div>
        </form>
    </div>
</div>
</body>
