


<body style="display: flex; align-items: center; justify-content: left; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    


    <div class="form" style="width: 450px; height: 580px; display: flex; align-items: center; flex-direction: column; justify-content: center; border: solid #fcfae0 2px; border-radius: 4px; background-color: rgb(250, 250, 245); box-shadow: 10px 10px 5px rgb(223, 223, 219);">
        <p style="margin: 5px; text-align: justify; width: 430px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: red">GARBAGE PAIL KIDS</p>
        <div style="width: 430px; height: 520px; background-color: yellow; border: solid red 2px;">
        <form action="/gpk/foodfight" method="POST">
            <label>Name:<input type="text" name="name" style="background-color: rgb(65, 62, 62, .3);"></label><br>
            <label>Series:<input type="text" name="series" style="background-color: rgb(65, 62, 62, .3);"></label><br>
            <label>Number:<input type="number" name="number" style="background-color: rgb(65, 62, 62, .3)"></label><br>
            <label>A:</label><input type="checkbox" name="aOrb" style="background-color: rgb(65, 62, 62, .3)"><br>
            <label>B:</label><input type="checkbox" name="aOrb" style="background-color: rgb(65, 62, 62, .3)"><br>
            <label>Year:</label><input type="number" name="yearReleased" style="background-color: rgb(65, 62, 62, .3)"><br>
            <label>Value:</label><input type="number" name="value" style="background-color: rgb(65, 62, 62, .3)"><br>
            <label>Image:</label><input type="url" name="img" style="background-color: rgb(65, 62, 62, .3)">
            <button type="submit">Send</button>
          </form>
        </div>
    </div>

</body>