<body style="background-color: rgb(20, 255, 39)
;display: inline-block;">
<img style="border: 3px rgb(9, 160, 4) solid; border-radius: 4px; margin-left: 90px;"src="https://www.hollywoodreporter.com/wp-content/uploads/2021/05/Garbage-Pail-Kids-copy.jpg">
</body>