<body>
    <a class="entersite" href="/gpkcards/top15">enter</a>
    <div class="video" style="display: flex; align-items: center; justify-content: center; width: 1000px; height: 800px;">
    <video autoplay>
    <source src="https://ht.cdn.turner.com/tcm/big/tcmweb/TRAILERS/2018/11/garbagepailkidsmovie_TR_3NNJK_3P7GW/MP4/garbagepailkidsmovie_TR_1280x720_3500.mp4" type="video/mp4">
</video>
</div>
</body>



<!-- poster="https://www.hollywoodreporter.com/wp-content/uploads/2021/05/Garbage-Pail-Kids-copy.jpg" -->
