<body style="background-color: rgb(131, 160, 4); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

<div class="infocontainer" style="height: 500px; width: 200px; display: flex; float: right; background-color: aquamarine;">
    <ul style="text-align: center; width: 200px">
        <li style="list-style-type: none"><%= card.name %></li>
        <li style="list-style-type: none;"><%= card.series %></li>
        <li style="list-style-type: none;"><%= card.number %></li>
        <li style="list-style-type: none;"><%= card.fanFave %></li>
    </ul>
</div>
</body>
