<body>
    <div class="form">
        <span>GARBAGE PAIL KIDS</span>
        <div class="form-content">
            <% let url = card.series.toLowerCase().split(' ').join('') %>
            <form class="update" action="/gpk/<%= url %>/<%= card.id %>?_method=put" method="POST">
                <label>Name:  <input type="text" name="name"></label>
                <label>Number:  <input type="number" name="number"></label>
                <label>A or B:  <input type="text" name="aOrb"></label>
                <label>Value:  <input type="number" name="value"></label>
                <label>Image:  <input type="url" name="img"></label>
                <div class="enter-container">
                    <button class="enter" type="submit">ENTER</button>
                </div>
            </form>
        </div>
    </div>
    </body>