body {
    background-image: url(https://i.imgur.com/pecJooY.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
/*============ NAV BAR ==================*/
.nav-bar { 
    display: flex;
    font-family: Good Choice;    
    font-size: 20px;
    flex-direction: row; 
    margin-top: 10px; 
    padding: 0px;
    align-content: left; 
    justify-content: space-around;
    width: 900px;
    list-style-type: none;
}

a {
    border-radius: 3px; 
    color: rgb(235, 250, 193);;
    letter-spacing: 1px;
    text-decoration: none;
}
.entersite {
    background: none;
    font-family: Double Feature;
    font-size: 65px; 
    text-align: center;
    color: rgb(253, 253, 244);
    letter-spacing: 5px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(250, 141, 117);
}
a:hover {
    background-color: rgba(255, 255, 255, 0.363); 
    color: rgb(255, 255, 255);
    border: solid 1px rgb(250, 2, 175); 
    text-decoration: none;
    text-align: center;
    padding: 2px; 
    padding-left: 4px;
    border-radius: 3px; 
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 750px;

}

/*============ ADD BUTTON ===============*/
.add-button {
    background-image: url("https://imgur.com/CKaRzXw.png");
    background-position: right; 
    background-repeat: no-repeat;
    background-size: 300px 380px;
    display: flex;
    flex-direction: column;
    height: 220px;
    margin: -200px 0px 10px 1000px;
    width: 300px;
    align-items: flex-end;
    justify-content: flex-end;
}
.add {
    align-items: center;
    color: rgb(252, 206, 230);
    display: flex;
    font-family: Good Choice;
    font-size: 30px;
    height: 220px;
    justify-content: center;
    transform: rotate(-10deg);
    width: 280px;
}
.add:hover {
    background: none;
    border: none;
    color: rgb(252, 251, 249);
} 
/*=========== FORM LAYOUT ===============*/
.form {
    width: 450px; 
    height: 600px; 
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    justify-content: center; 
    border: solid #e4e2c5dc 2px; 
    border-radius: 4px; 
    background-color: rgb(247, 247, 220); 
    box-shadow: 10px 10px 5px rgba(14, 14, 12, 0.7);
    margin: 5px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    color: red;
}
.form-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 390px; 
    height: 520px; 
    background-color: yellow;
    border-radius: 3px;
    border: solid red 2px;
    color: black;
    margin-top: 10px;
    padding: 0px 10px 10px 10px;
    text-transform: uppercase;
}
label {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 18px;

}
input {
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 62, 62, .3);
    width: 200px;
}
.enter-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: flex-end;
}
.enter {
    display: flex;
    background: none;
    border: none;
    font-family: Double Feature;
    font-size: 30px;
    color:rgb(117, 4, 4);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(253, 252, 253);
}

.enter:hover {
    color:rgb(238, 181, 148);
}
    
/*============ CARD LAYOUT ==============*/
h1 {
    font-family: Double Feature;
    font-size: 65px; 
    text-align: center;
    color: rgb(253, 253, 244);
    letter-spacing: 5px;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: rgb(238, 181, 148);
}
.container {
    background-color: rgba(135, 136, 133, 0.473);
    border-top: solid rgb(110, 109, 109) 1px;
    border-left: solid rgb(110, 109, 109) 1px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1220px; 
    height: fit-content;
    margin-left: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}
.flip-card {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin: 10px 10px 20px 0px;
    width: 220px;
    height: 380px;
  }
.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
.flip-card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-back {
    background-color:  rgb(245, 238, 207);
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: rgb(216, 4, 4);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: They Perished;
    font-size: 14px;
    height: 395px;
    text-transform: uppercase;
    transform: rotateY(180deg);
    width: 260px;
}

.card-info {
    background-color: rgb(241, 241, 47);
    border: 2px rgb(211, 2, 2) solid;
    border-radius: 2px;
    color: rgb(27, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 14px;
    text-align: left;
    height: 370px;
    width: 240px;
    margin: 0px 10px 2px 10px;
}
ul {
    list-style-type: none;
    line-height: 30px;
    margin-left: -30px;
    padding: none;

}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 235px;
    height: 150px;

}
.actionbutton {
    align-items: center;
    background-color: rgb(204, 167, 4);
    border: 2px solid rgb(107, 24, 24);
    border-radius: 3px;
    color:rgb(252, 247, 221);
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    margin: 5px;
    text-transform: uppercase;
    width: 80px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(167, 123, 1);
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    color: black;
    margin-top: .5px;
    margin-left: 15px;
    text-align: left;
}

